
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Soybean - $title$</title>
  <link rel="icon" type="image/png" href="/images/logo.png">

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="/css/theme.css" />
  <link rel="stylesheet" href="/css/components.css" />
  <link rel="stylesheet" href="/css/keyframes.css" />
  <!-- <link rel="stylesheet" href="/css/syntax.css" /> -->
  <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@10.7.2/styles/default.min.css" />
  <link rel="stylesheet" href="/css/syntax-styles/gruvbox-light.css" />
  <script src="//unpkg.com/@highlightjs/cdn-assets@10.7.2/highlight.min.js"></script>
  <script>
    hljs.highlightAll();

    function init() {
      const theme = localStorage.getItem("theme") || "light";

      document.querySelector("html").className = theme;
      if (theme === "yc-dark") {
        let box = document.querySelector("#toggle-theme");
        if (box) {
          box.checked = true
        }
      }

      function toggleTheme(target) {
        const theme = localStorage.getItem("theme") || "light";
        const next = theme === "light" ? "yc-dark" : "light";
        let dom = document.querySelector("html");

        dom.className = next;
        localStorage.setItem("theme", next);
      }

      window.onload = function onload() {
        init();
      };
    </script>
  </head>

  <body>
    $partial("templates/post-header.html")$

    <main role="main">
      <h1>$title$</h1>
      $body$
    </main>

    <footer>
      此文档使用
      <a href="http://jaspervdj.be/hakyll">Hakyll</a>
      和
      <a href="https://tailwindcss.com/">Tailwind</a>
      共同构建
    </footer>
  </body>
</html>

