/* purgecss start ignore */

/* theme-switcher */

.comp-switcher__toggle-checkbox:checked {
  right: 0px;
}

.yc-dark .comp-switcher__toggle-checkbox:checked {
  --tw-bg-opacity: 1;
  background-color: rgba(187, 247, 208, var(--tw-bg-opacity));
}

.comp-switcher__toggle-checkbox:checked {
  right: 0;
}

.yc-dark .comp-switcher__toggle-checkbox:checked + .comp-switcher__toggle-label {
  --tw-bg-opacity: 1;
  background-color: rgba(187, 247, 208, var(--tw-bg-opacity));
}

.theme-switcher {
  position: relative;
  margin-right: 0.5rem;
  display: inline-block;
  width: 2.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.theme-switcher .comp-switcher__toggle-checkbox {
  position: absolute;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 9999px;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgba(251, 146, 60, var(--tw-border-opacity));
}

.yc-dark .theme-switcher .comp-switcher__toggle-checkbox {
  --tw-border-opacity: 1;
  border-color: rgba(74, 222, 128, var(--tw-border-opacity));
}

.theme-switcher .comp-switcher__toggle-checkbox {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 215, 170, var(--tw-bg-opacity));
}

.yc-dark .theme-switcher .comp-switcher__toggle-checkbox {
  --tw-bg-opacity: 1;
  background-color: rgba(187, 247, 208, var(--tw-bg-opacity));
}

.theme-switcher .comp-switcher__toggle-label {
  display: block;
  height: 1.5rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgba(254, 215, 170, var(--tw-bg-opacity));
}

/* purgecss end ignore */
